@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.navbar {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(2 6 23);
}

.dashboard {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(51 65 85);
    padding: 10px;
}

.formArea {
    padding: 10px;
}

form {
    display: flex;
    flex-wrap: wrap; /* Ensures items wrap when necessary */
    width: 100%;
    justify-content: space-between;
}

form label {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

form input {
    width: 80%;
    padding: 10px 5px;
    margin-top: 5%;
    outline: none;
}

.sampleDiv {
    width: 50%;
}

.sampleDiv button{
    margin-top: 4%;
}

form input::placeholder {
    color: rgb(30 41 59);
    font-size: 0.9rem;
    font-weight: 600;
}

#add {
    padding: 11px 15px;
    background-color: #32CD32;
    border: none;
    color: white;
    font-weight: 600;
}
#updateChanges{
    padding: 11px 15px;
    background-color: #32CD32;
    border: none;
    color: white;
    font-weight: 600;
}


#add:hover {
    cursor: pointer;
    background-color: #0BDA51;
}

.horizontal_line{
    width: 95%;
    margin: auto;
    border: 1px solid rgb(71 85 105);
    margin-top: 2%;
    margin-bottom: 2%;
}

.buttons{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.buttons button{
    padding: 10px 10px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
}

#todoBtn{
    background-color: #0BDA51;
}
#completedBtn{
    background-color: rgb(15 23 42);
}

.listArea{
    width: 100%;
    margin-top: 5%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30 41 59);
}

.todoDetails{
    width: 50%;
}
.todoDetails .title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #0BDA51;
    margin-bottom: 2%;
}
.todoDetails .description{
    color: white;
    font-weight: 100;
    font-size: 0.9rem;
}

.todoButtons{
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
}

.todoButtons i{
    cursor: pointer;
}
.trash{
    color: #EE4B2B;
}
.complete{
    color: #228B22;
}
.edit{
    color: whitesmoke;
}

#hide{
    display: none;
}

#show{
    display: block;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .dashboard {
        width: 80%;
    }
    
    form {
        width: 100%;
        flex-direction: column; /* Stacks items vertically */
    }

    .sampleDiv{
        width: 100%;
    }
    
    form label, form input {
        width: 100%; /* Full width for labels and inputs */
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 1222px){
    form {
        width: 100%;
        flex-direction: column; /* Stacks items vertically */
    }

    .sampleDiv{
        width: 100%;
    }
    form label, form input {
        width: 100%; /* Full width for labels and inputs */
    }
    form label{
        margin-bottom: 5%;

    }
    form input{
        margin-bottom: 3%;
        margin-top: 3%;
    }
}

